.recommend
  %h2 推荐阅读
  %a(href="/") 我必须满足哪些条件才可以使用云渠道系统？
  %a(href="/") 我该如何初始化云渠道账户？
.more
  %h2 更多内容
  .col
    %h3 新手入门
    %a(href="/") 什么是eBay国际卖家认证？我该如何进行认证？
    %a(href="/") 我该如何将现有的eBay数据导入云渠道系统？
    %a(href="/") 更多..
    %h3 操作指南
    %a(href="/") 如何添加新产品？
    %a(href="/") 如何修改在线eBay商品？
    %a(href="/") 更多..
  .col
    %h3 常见问题
    %a(href="/") 账户限额包括了哪些内容？
    %a(href="/") 我该如何提升账户限额？
    %a(href="/") 更多..
